@media screen and (max-width:1200px) {
    body.toggle .navlink {
        transform: translateX(0);

    }

    .open {
        display: block;
        color: #fff;
        font-size: 30px;
    }

    .closebutton {
        display: block;
        position: absolute;
        top: 20px;
        right: 40px;
        color: #fff;
        font-size: 25px;
    }

    .saerchbar {
        display: none;
    }


    .navlink {
        transform: translateX(-100%);
        transition: all 0.5s linear;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        background: var(--primary-color);
        width: 400px;
        padding: 40px;
        margin: 0;
        z-index: 9;
    }

    .navlink ul {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .navbar .navlink {
        margin-left: -15px;

    }

    .navlink ul li a {
        color: #fff;
    }

    .navlink ul li {
        padding: 10px;
    }

    .next_img.location img {
        height: 250px;
        width: 250px;
    }
    .pages span {
        display: inline-block;
        min-height: 150px;
    }
    .thessa-inner p {
        min-height: 370px;
    }
    .next_img {
        height: 38em;
    }
}

@media screen and (max-width: 991px) {
    .thessa-inner p {
        min-height: 320px;
    }
    .slick-prev {
        left: 45%;
    }
    .slick-next {
        right: 45%;
    }
    .next_text h2 {
        text-align: center;
    }
    .next_text  {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .next_img {
        height: 20em;
    }
    .thessa-inner p, .thessa-inner h3 {
        min-height: auto;
    }
    .slick-prev {
        left: 40%;
    }
    .slick-next {
        right: 40%;
    }
    .next_img.location img {
        height: 170px;
        width: 170px;
    }
    .pages span {
        min-height: auto;
    }
    .next_banner {
        padding: 40px 0px;
    }

    .pages.mb-2 {
        height: auto;
    }

    .banner_box h1 {
        font-size: 35px;

    }

    h2 {
        font-size: 28px;
        margin: 0px 0 20px 0;
    }

    .next_banner {
        padding: 40px 0px;
    }

    .thessa_detail {
        padding: 40px 0;
    }

    .thessa_main_inner p {
        margin-top: 20px;
    }
    .hotel_accordian {
        padding: 40px 0;
    }
    .experience_section {
        padding: 40px 0;
    }
    .thessa_main_inner p {
        margin-top: 20px;
    }
    .thessa_main_inner {
        margin-bottom: 20px;
    }
    .single_footer.single_footer_address.below_address {
        justify-content: start;
        border-right: unset;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 575px) {
    .banner_box h1 {
        font-size: 30px;
    }

    .single_footer h4 {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .panel-default>.panel-heading a {
        font-size: 18px;
        padding: 20px 17px;
    }
    .next_img.location img {
        max-width: 100%;
    }
}